<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <!-- desplaza el boton al mostrar el sidenav-->

    <mat-toolbar color="primary">
      <span>Menú </span>
      <!-- hace que ocupe todo el espacio , configurado en css styles-->
      <span class="spacer"></span>

      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon> menu </mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
        <!--  el click cierra el sidenav al hacer clic tambien-->
        <mat-icon mat-list-icon>label</mat-icon>
        <span>Listado de Heroes</span>
      </a>
      <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
        <!-- cierra el sidenav al hacer clic tambien-->
        <mat-icon mat-list-icon>add</mat-icon>
        <span>Agregar Heroes</span>
      </a>
      <a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
        <!-- cierra el sidenav al hacer clic tambien-->
        <mat-icon mat-list-icon>search</mat-icon>
        <span>Buscar Heroes</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon> menu </mat-icon>
    </button>
    <!-- hace que ocupe todo el espacio , configurado en css styles-->
    <span class="spacer"></span>

    <button mat-button>Logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
