<h2>Template: <small>Dinámicos</small></h2>
<hr>

<form (ngSubmit)="guardar()"#miFormulario="ngForm">
    <!--nombre-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
            [ngModel]="persona.nombre"
             name="nombre"
            placeholder="Nombre de la persona"
            required 
            minlength="3">

            <span class="form-text text-danger" 
                    *ngIf="nombreValido()"
                    >Este campo es obligatorio</span>
        </div>
    </div>


     <!--agregar favorito-->
     <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
           
            <div class="input-group">
                <input class="form-control"
                 placeholder="Agregar favorito">

                 <button class="btn btn-outline-primary" type="button">
                     Agregar
                 </button>
            </div>         
        </div>
    </div>


    <!--lista de juegos-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">
            <input *ngFor="let juego of persona.favoritos; let i = index"
            [(ngModel)]="juego.nombre"
            name="favorito_{{i}}"
            class="form-control mb-1"
            required>

            
        </div>
    </div>



    <div class="row">
       
        <div class="col-sm-12">
           <button type="button"
           [disabled]="miFormulario.invalid"
           class="btn btn-primary float-end"
           (click)="guardar()"
           >Guardar</button>
        </div>
    </div>

</form>


<span>Persona</span>
<pre>{{persona | json}}</pre>