<h2>Validaciones Reactivas</h2>
<hr />

<div class="row">
  <div class="col">
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="submitFormulario()">
      <!--Nombre-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre de usuario">

           <span class="form-text text-danger"
           *ngIf="campoNoValido('nombre')">
               Debe ser formato de Nombre y Apellido
           </span>
        </div>
      </div>

      <!--Email-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email </label>
        <div class="col-sm-9">
          <input
            type="email"
            class="form-control"
            formControlName="email"
            placeholder="Correo electronico">

            <span class="form-text text-danger"
            *ngIf="campoNoValido('email')">
                Debe ser un correo valido
            </span>
        </div>
      </div>

      <!--Username-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username </label>
        <div class="col-sm-9">
          <input
            type="text"
            class="form-control"
            placeholder="Username / nick">
        </div>
      </div>

      <!--Password-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password </label>
        <div class="col-sm-9">
          <input
          
            type="password"
            class="form-control"
            placeholder="Contraseña">
        </div>
      </div>

      <!--Password2-->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar </label>
        <div class="col-sm-9">
          <input
          
            type="password"
            class="form-control"
            placeholder="Confirmar Contraseña">
        </div>
      </div>


      <div class="row">
          <div class="col">
              <button
              class="btn btn-primary float-end"
              type="submit">
              Crear
              </button>
          </div>
      </div>
    </form>
  </div>
</div>


<h2>Form Valid: {{miFormulario.valid}}</h2>
<h5>Nombre</h5>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>
<h5>Email</h5>
<pre>{{miFormulario.controls.email.errors | json}}</pre>
