<h1>Listado de Heroes</h1>
<mat-divider></mat-divider>
<br />

<!-- 
    fxLayout="row wrap"--------- MUESTRA POR COLUMNAS TODO EL ANCHO
    fxLayout.xs="column"--------- PANTALLA PEQUEÑA MUSTRA 1 COLUMNA
     fxLayoutAlign="center"  ------ ALINEA AL CENTRO
     fxLayoutGap="20px"    ------ MARGENES
-->   
<div fxLayout="row wrap"
    fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
>
<!-- Cada tarjeta tiene un 30% del row
    fxFlex.lg="15" ------ GRANDES
    fxFlex.sm="30"-------- PEQUEÑAS
-->   
    <div fxFlex="20"  
    fxFlex.lg="15"
    fxFlex.sm="30"
    *ngFor="let heroe of heroes"  > 


       <app-heroe-tarjeta [heroe]="heroe"></app-heroe-tarjeta>


    </div>



</div>