
<h2>Por Capital</h2>
<hr>


<div class="row">
    <div class="col">

        <app-pais-input 
        (onEnter)="buscar($event)" 
        placeholder="Buscar capitales..."></app-pais-input> <!--ENVIAMOS LA PALABRA QUE QUEREMOS BUSCAR QUE EMOS ENVIADO DESDE PAIS-INPUT  CON EL OUTPUT-->
       
    </div>
</div>

<hr>


<!--MENSAJE DE ERROR-->
<div *ngIf="isError"     class="alert alert-danger">
    No se encontro nada con la palabra {{termino}}

</div>
<!--SI HAY MAS DE 0 PAISES MOSTRAMOS LA TABLA-->
<div *ngIf="paises.length > 0"class="row">
    <div class="col">

        <app-pais-tabla [paises]="paises"></app-pais-tabla>
        
    </div>
</div>
